html {
  background: url(../img/blog-fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background: rgba(0, 0, 0, 0);
}

.header-block{
  color: white;
}

.bodyclass{
  background: rgba(105, 24, 24, 0.77);
  padding-left: 10px !important;
}

.vertical-divisor{
  border-left: 1px solid #cacaca;
}

.menu li{
  margin-left: 5px;
  margin-right: 5px;
}

.search-button, .post-button{
  background: #e91e63 !important;
}

.button.hollow{
  border-color: #e91e63;
  color: #e91e63;
}

.lateral-bar{
  background: #ffcdd2;
  height: 800px;
  padding-top: 1rem;
  /*margin-left: 5px;*/
  /*width: 90%;*/
  border-radius: 5px;
}

.historial h4, .historial a, .favorites, .contents h5{
  color: #e91e63;
}

.historial-list{
  list-style: none;
}

.contents{
  background-color: #ffcdd2;
  color: black;
  padding: 5%;
  /*background-color: white;*/
}

.contents hr{
  width: 100% !important;
}

.comments{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #808080;
    border-radius: 5px;
    margin-bottom: 5px;
}

.comments p{
  color:#808080;
}

.comments img{
    width: 100%;
}

.comments div.row{
    height: 100%;
}

.comments-paragraphs{
  padding-left: 0%;
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .lateral-bar{
    height: 250px;
    margin-left: -0.3rem;
    margin-bottom: 1rem;
  }
}

 /*Medium devices (desktops, 992px and up)*/
@media screen and (min-width: 770px) and (max-width: 992px) {
  .lateral-bar{
    height: 250px;
    margin-left: -0.3rem;
    margin-bottom: 1rem;
  }
}
/*i::before{
  background: red;
}*/
/*body{
    opacity: 0.5;
}*/

/*.bodyclass{
  background: blue;
  opacity: 0.5;
}*/
